
  .content {
    position: relative;
    top: initial;
    padding-top: 0;
    padding-left: 0;
    display: flex;
    flex-flow: column;
    left: initial;
    max-height: calc(100% - 36px);
    height: calc(100% - 36px);
    width: calc(100% - 50px);
    max-width: calc(100% - 50px);
    flex: 0 0 calc(100% - 50px);
    .nav.nav-tabs {
      .nav-item {
        text-transform: uppercase;
        font-size: 12px;
        text-align: center;
      }
    }
  }
  .content::-webkit-scrollbar { 
    display: none; 
  }

  &.eon-detail {
    .content {
      flex-flow:row;
    }
  }