.eon_bar {
  position:relative;
  // margin-top:40px;
  padding-top:40px;
  padding-bottom:30px;
  -webkit-app-region: drag;
}
.state-header {
  width:100%;
  display:table;
  padding:5px 13px;
  background-color:#555;
}
.fingerprint_input {
  font-size:12px!important;
  background-color:rgb(2, 9, 14)!important;
  border:0!important;
}

.add_field {
  border:0;
}
.title,.subtext,.subsubtext {
  text-align:center;
  margin: 0;
}
.title {
  font-weight:400;
  font-size:16px;
}
.subtext {
  font-weight:200;
}
.disconnect_button {
  margin-top:10px;
  margin-bottom:10px;
  position:absolute;
  top:25px;
  left:0;
  width:50px;
}
.subsubtext {
  font-weight:200;
  font-weight:200;
  color:#555;
}
.connection {
  background-color:rgba(#FFF,0.2);
  padding:10px;
  border-radius:100px;
  width:50%;
  margin:0 auto;
  &.connected {
    background-color:GREEN;
  }
  span {
    display:block;
    text-align:center;
  }
  
  .connection_message {
    font-size:18px;
    font-weight:200;
    line-height:20px;
  }

  .connection_label {
    font-size:10px;
    line-height:15px;
  }
}
.connection_connected {
  @extend .connection;
  background-color:GREEN;
}
.widget_list {
  display:block;
  // height:400px;
  // width:400px;
}