.left-bar {
  // padding-top:$left-bar-padding-top;
  .nav-item {
    .nav-link {
      cursor:pointer;
      opacity:0.5;
      &:hover {
        opacity:1;
      }
    }
  }
}
.left-bar {
  flex: 0 0 $left-bar-width;
  max-width:$left-bar-width;
  width:$left-bar-width;
  left:0;
  top:0;
  -webkit-app-region: drag;
  height:100%;
  background-color:rgba(#000,0.3335);
  z-index:1;
  position:relative;
  .nav {
    width:100%;
    // height:100%;
  }
  .nav-item {
    width:100%;
    .nav-link {
      text-align:center;
    }
  }
}
