.loading_overlay {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 85px;
  height: 85px;
  opacity: 1;
  -webkit-app-region: drag;
  transform: translate(-50%,-50%);
}

.loading_indicator_wrap {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-80%);
  height:80px;
  width:80px;
  -webkit-app-region: drag;
}

.loading_message {
  position:absolute;
  top:50%;
  left:50%;
  color:#FFF;
  transform: translate(-50%,-50%);
  -webkit-app-region: drag;
  margin-top:45px;
  opacity:0.6;
  white-space:nowrap;
  font-size:12px;
  span {
    display:block;
    text-align:center;
  }

  span.line2 {
    color:rgba(#FFF,0.5);
  }
}