
.tab-list {
  position: relative;
  width: 200px;
  flex: 0 0 200px;
  min-height: 100%;
  height: calc(100% - #{$top-bar-height});
  left: initial;
  position: relative;
  top: initial;
  flex-flow: column;
  background-color: $dark-color;
  padding-left: 0;
  display: flex;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: auto;
  cursor: pointer;
  .nav-item {
    width:100%;
    cursor: pointer;
    &.hide {
      display:none;
    }
    > .nav {
      .nav-item {
        .nav-link {
          padding-left:30px;
          &.active {
            color:rgba(#FFF,0.8);
            font-weight:normal;
            background-color:$dark-color;
          }
          
        }
      }
    }
    .command-list {
      .nav-link {
        cursor: pointer;
        background-color:lighten($dark-color,4);
      }
    }
    .nav-link {
      cursor: pointer;
      position:relative;
      line-height: 25px;
      padding-top:0;
      white-space: nowrap;
      padding-bottom:0;
      text-transform: initial;
      text-align:left;
      background-color:$darker-color;
      color:rgba(#FFF,0.5);
      padding-left:30px;
      &:hover {
        color:#FFF;
        background-color:lighten($darker-color,3);
      }
      .icon {
        display:block;
        width:30px;
        height:100%;
        position:absolute;
        left:0;
        text-align:center;
      }
      &:before {
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 1px;
        content: "";
        z-index: 100;
        cursor:pointer;
        background-color: rgba(#FFF, 0.01);
      }
      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        cursor:pointer;
        width: 100%;
        height: 1px;
        content: "";
        z-index: 100;
        background-color: rgba(#000, 0.2);
      }
      &.active {
        color:#FFF;
        font-weight:initial;
        background-color:$dark-color;
        // box-shadow:inset 3px 0 15px rgba(#000,1);
        // &:before, &:after {
        //   display:none;
        // }
      }
    }
  }
}
.tab-list::-webkit-scrollbar {
  display: none; 
}