
.tab-list {
  position: relative;
  width: 100%;
  // flex: 0 0 200px;
  min-height: 100%;
  height: calc(100% - #{$top-bar-height});
  left: initial;
  position: relative;
  top: initial;
  // flex-flow: column;
  background-color: darken($dark-color,2);
  padding-left: 0;
  display: block;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: auto;
  .nav-item {
    width:100%;
    &.hide {
      display:none;
    }
    > .nav {
      .nav-item {
        .nav-link {
          padding-left:30px;
          &.active {
            color:rgba(#FFF,0.8);
            font-weight:normal;
            background-color:$dark-color;
          }
        }
      }
    }
    .nav-link {
      position:relative;
      line-height: 35px;
      padding-top:0;
      white-space: nowrap;
      padding-bottom:0;
      text-transform: initial;
      text-align:left;
      background-color:$darker-color;
      color:rgba(#FFF,0.5);
      
      &:before {
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 1px;
        content: "";
        z-index: 100;
        background-color: rgba(#FFF, 0.01);
      }
      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        content: "";
        z-index: 100;
        background-color: rgba(#000, 0.2);
      }
      &.active {
        color:#FFF;
        font-weight:initial;
        background-color:$dark-color;
        // box-shadow:inset 3px 0 15px rgba(#000,1);
        // &:before, &:after {
        //   display:none;
        // }
      }
    }
  }
}
.tab-list::-webkit-scrollbar {
  display: none; 
}