
  .top-bar {
    height: $top-bar-height;
    background-color: rgba(#000,0.7);
    top: 0;
    left: 0;
    right: 0;
    position:fixed;
    flex: 0 0 100%;
    width: 100%;
    z-index: 2;
    text-align: center;
    user-select: none;
    -webkit-app-region: drag;
  }