.eon_bar {
  position:relative;
}
.loading_overlay {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.loading_overlay {
  position:absolute;
  top:50%;
  left:50%;
  height:75px;
  width:75px;
  transform:translate(-50%,-50%);
  
  /* width:100%;
  height:100%; */
}
.loading_overlay img {
}
.add_field {
  border:0;
}
.title {
  font-weight:400;
  text-align:center;
}
.subtext {
  font-weight:200;
  text-align:center;
}
.disconnect_button {
  margin-top:10px;
  margin-bottom:10px;
}
.subsubtext {
  font-weight:200;
  text-align:center;
  font-weight:200;
  color:#555;
}

.state_list {
  display:table;
  width:100%;
}
.state_spinner {
  height: 20px;
  width: 20px;
}
.state_spinner img {
  width:100%;
  height:100%;
}
.state_item {
  display:table-row;
}

.state_label,.state_status {
  display:table-cell;
  border-bottom: 1px solid #555;
  vertical-align: middle;
  width:50%;
}
.state_label {
  font-weight:200;
  text-align:right;
  padding:3px 15px;
  color:#888;
}
.state_status {
  /* color:#28a745; */
}
.state_status.started {
  color:#28a745;
}