.eon_bar {
  position:relative;
  // margin-top:40px;
  padding-top:40px;
  padding-bottom:30px;
  -webkit-app-region: drag;
}
.state_header {
  width:100%;
  display:table;
  padding:5px 13px;
  background-color:#555;
}
.fingerprint_input {
  font-size:12px!important;
  background-color:rgb(2, 9, 14)!important;
  border:0!important;
}
.loading_overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 85px;
  width: 85px;
  -webkit-app-region: drag;
  transform: translate(-50%,-50%);
  .circle {
    top: 80px;
  }
  /* width:100%;
  height:100%; */
  .btn {
    position:absolute;
    top:225px;
  }
}
.loading_overlay img {

}
.add_field {
  border:0;
}
.title,.subtext,.subsubtext {
  text-align:center;
  margin: 0;
}
.title {
  font-weight:400;
  font-size:16px;
}
.state_card {
  background-color:rgba(#FFF,0.1)!important;
  margin-bottom:10px;
  padding:0!important;
  border:0!important;
  border-radius:0!important;
}
.state_card_header {
  border-radius:0!important;
  background-color:darken(#03111C,1)!important;
}
.state_card_list_group {
  border:0!important;
  border-radius:0!important;
}
.state_card_list_group_item {
  border-radius:0!important;
  padding:3!important;
  margin-bottom:initial!important;
  border:0!important;
  background-color: darken(#03111C,3)!important;
  font-size:12px!important;
  position:relative;
  &:after {
    content:"";
    bottom:0;
    left:0;
    right:0;
    position:absolute;
    height:1px;
    width:100%;
    background-color:rgba(#FFF,0.05);
  }
}
.state_card_body {
  padding:0!important;
  background-color:darken(#03111C,5);
}
.subtext {
  font-weight:200;
}
.disconnect_button {
  margin-top:10px;
  margin-bottom:10px;
  position:absolute;
  top:25px;
  left:0;
  width:50px;
}
.subsubtext {
  font-weight:200;
  font-weight:200;
  color:#555;
}
.connection {
  background-color:rgba(#FFF,0.2);
  padding:10px;
  border-radius:100px;
  width:50%;
  margin:0 auto;
  &.connected {
    background-color:GREEN;
  }
  span {
    display:block;
    text-align:center;
  }
  
  .connection_message {
    font-size:18px;
    font-weight:200;
    line-height:20px;
  }

  .connection_label {
    font-size:10px;
    line-height:15px;
  }
}
.connection_connected {
  @extend .connection;
  background-color:GREEN;
}
.widget_list {
  display:block;
  // height:400px;
  // width:400px;
}

.state_list {
  display:table;
  width:100%;
  padding:0;
  margin:0;
}
.state_spinner {
  height: 100%;
  width: 100%;
  opacity:0.5;
}
.state_spinner img {
  width:100%;
  height:100%;
}
.state_loading_icon_wrap {
  width: 16px;
  height: 16px;
  position: relative;
  display: block;
}

.state_label,.state_status {
  flex:0 0 50%;
  white-space:nowrap;
  // border-bottom: 1px solid #555;
  vertical-align: middle;
  width:50%;
  font-size:12px;
  padding:0 15px;
}
.state_item {
  display:flex;
}
.state_label {
  font-weight:200;
  text-align:right;
  padding:0;
  color:#888;
  flex:0 0 30%;
}
.state_status {
  /* color:#28a745; */

  flex:0 0 70%;
}
.state_status_started {
  color:#28a745;
}