.eon_bar {
  position:relative;
  margin-top:40px;
  margin-bottom:30px;
  -webkit-app-region: drag;
}
.state_header {
  width:100%;
  display:table;
  padding:5px 13px;
  background-color:#555;
}
.loading_overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 85px;
  width: 85px;
  transform: translate(-50%,-50%);
  .circle {
    top: 80px;
  }
  /* width:100%;
  height:100%; */
  .btn {
    position:absolute;
    top:225px;
  }
}
.loading_overlay img {

}
.add_field {
  border:0;
}
.title,.subtext,.subsubtext {
  text-align:center;
  margin: 0;
}
.title {
  font-weight:400;
}
.subtext {
  font-weight:200;
}
.disconnect_button {
  margin-top:10px;
  margin-bottom:10px;
  position:absolute;
  top:0;
  left:0;
  width:200px;
}
.subsubtext {
  font-weight:200;
  font-weight:200;
  color:#555;
}
.connection {
  background-color:rgba(#FFF,0.2);
  padding:10px;
  border-radius:100px;
  width:50%;
  margin:0 auto;

  span {
    display:block;
    text-align:center;
  }
  
  .connection_message {
    font-size:18px;
    font-weight:200;
    line-height:20px;
  }

  .connection_label {
    font-size:10px;
    line-height:15px;
  }
}
.state_list {
  display:table;
  width:100%;
}
.state_spinner {
  height: 100%;
  width: 100%;
  opacity:0.5;
}
.state_spinner img {
  width:100%;
  height:100%;
}
.state_item {
  display:table-row;
}
.state_loading_icon_wrap {
  width: 16px;
  height: 16px;
  position: relative;
  display: block;
}

.state_label,.state_status {
  display:table-cell;
  white-space:nowrap;
  border-bottom: 1px solid #555;
  vertical-align: middle;
  width:50%;
}
.state_label {
  font-weight:200;
  text-align:right;
  padding:3px 15px;
  color:#888;
}
.state_status {
  /* color:#28a745; */
}
.state_status_started {
  color:#28a745;
}