.container {
  position: relative;
  width:100%;
  height:100%;
  /* top: 0;
  left: 0;
  height:100%; */
  text-align: center;
}

.app_wrapper {
  padding-top:0;
  overflow:auto;
  height:100%;
  width:100%;
  position:fixed;
  
}
.header {
  display:flex;
  position:relative;
  width:100%;
  -webkit-app-region: drag;
}

.header .brand {
  flex: 0 0 50%;
  padding: 60px 0 19px 0;
  margin: 0 auto;
  transform:translateX(-6px);
  text-align: center;
}
.header .brand svg {
  transform: scale(1.4);
}
.header .eon_status {
  flex: 0 0 50%;
  text-align:right;
  padding:15px 15px 15px 15px;
}

.footer {
  font-size:12px;
  color:#888;
  text-align:center;
  position:fixed;
  bottom:10px;
  left:0;
  width:100%;
  padding:10px;
}

.footer a,.footer a:hover {
  color:#888;
  text-decoration:none;
}

.heart {
  color:#FF0000;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.eon_name {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-align: right;
  color: #DEE2E6;
}

.label {
  font-size:11px;
  text-align: right;
  color: #666;
}
.eon_ip {
  font-size:10px;
  text-align: right;
  
  color: #666;
}