.container-fluid {
  position: relative;
  width:100%;
  height:100%;
  /* top: 0;
  left: 0;
  height:100%; */
  text-align: center;
  
  
}
.title {
  line-height:36px;
  color:rgba(#FFF,0.7);
  font-size:15px;
}
.nav_link {
  color:#FFF!important;
  opacity:0.5;
  cursor: pointer;
  &:hover {
    opacity:1;
  }
}
.nav_item {
  display:block;
  width:100%;
  font-size:20px;
}
.top_bar {
  height:36px;
  background-color:rgba(#000,0.6);
  position:fixed;
  top:0;
  left:0;
  right:0;
  width:100%;
  z-index:2;
  text-align:center;
}
.left_bar {
  position:fixed;
  left:0;
  top:0;
  width:50px;
  height:100%;
  background-color:rgba(#000,0.3335);
  z-index:1;
}
.app_wrapper {
  $darker_col: 6;
  padding-top:0;
  overflow:auto;
  height:100%;
  width:100%;
  position:fixed;
  background-color: darken(#232c39,$darker_col)!important;
  background: radial-gradient(619.87px at 50% 6.62%, darken(#072339,$darker_col) 0%, darken(#051B2C,$darker_col) 100%)!important;
  
}
.content {
  padding-top:36px;
  padding-left:50px;
}
.header {
  display:flex;
  position:relative;
  width:100%;
  -webkit-app-region: drag;
}

.header .brand {
  flex: 0 0 50%;
  padding: 60px 0 19px 0;
  margin: 0 auto;
  transform:translateX(-6px);
  text-align: center;
}
.header .brand svg {
  transform: scale(1.4);
}
.header .eon_status {
  flex: 0 0 50%;
  text-align:right;
  padding:15px 15px 15px 15px;
}

.footer {
  font-size:12px;
  color:#888;
  text-align:center;
  position:fixed;
  bottom:10px;
  left:0;
  width:100%;
  padding:10px;
}

.footer a,.footer a:hover {
  color:#888;
  text-decoration:none;
}

.heart {
  color:#FF0000;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.eon_name {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-align: right;
  color: #DEE2E6;
}

.label {
  font-size:11px;
  text-align: right;
  color: #666;
}
.eon_ip {
  font-size:10px;
  text-align: right;
  
  color: #666;
}