/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~@fortawesome/fontawesome-pro/css/all.css";
@import "~bootstrap/dist/css/bootstrap.css";

.smalltalk {
  display: flex;
  
  align-items: center;
  flex-direction: column;
  justify-content: center;
  
  transition: 200ms opacity;
  
  bottom: 0;
  left: 0;
  overflow: auto;
  padding: 20px;
  position: fixed;
  right: 0;
  top: 0;
  
  z-index: 100;
}

.smalltalk + .smalltalk {
  transition: ease 1s;
  display: none;
}

.smalltalk .page {
  border-radius: 3px;
  background: white;
  box-shadow: 0 4px 23px 5px rgba(0, 0, 0, .2), 0 2px 6px rgba(0, 0, 0, .15);
  color: #333;
  min-width: 400px;
  padding: 0;
  position: relative;
  z-index: 0;
}

@media only screen and (max-width: 500px) {
  .smalltalk .page {
      min-width: 0;
  }
}

.smalltalk .page > .close-button {
  background-image: url(images/IDR_CLOSE_DIALOG.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 14px;
  position: absolute;
  right: 7px;
  top: 7px;
  width: 14px;
  z-index: 1;
}

.smalltalk .page > .close-button:hover {
  background-image: url(images/IDR_CLOSE_DIALOG_H.png);
}

.smalltalk .page header {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 500px;
  
  user-select: none;
  color: #333;
  font-size: 120%;
  font-weight: bold;
  margin: 0;
  padding: 14px 17px;
  text-shadow: white 0 1px 2px;
}

.smalltalk .page .content-area {
  overflow: hidden;
  text-overflow: ellipsis;
  
  padding: 6px 17px;
  position: relative;
}

.smalltalk .page .action-area {
  padding: 14px 17px;
}

button {
  font-family: Ubuntu, Arial, sans-serif;
}

.smalltalk button, .smalltalk .smalltalk {
  min-height: 2em;
  min-width: 4em;
}

.smalltalk button {
  appearance: none;
  user-select: none;
  background-image: linear-gradient(#ededed, #ededed 38%, #dedede);
  
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
  color: #444;
  font: inherit;
  margin: 0 1px 0 0;
  text-shadow: 0 1px 0 rgb(240, 240, 240);
}

.smalltalk button::-moz-focus-inner {
  border: 0;
}

.smalltalk button:enabled:active {
  background-image: linear-gradient(#e7e7e7, #e7e7e7 38%, #d7d7d7);
  box-shadow: none;
  text-shadow: none;
}

.smalltalk .page .button-strip {
  display: flex;
  
  flex-direction: row;
  justify-content: flex-end;
}

.smalltalk .page .button-strip > button {
  margin-left: 10px;
}

.smalltalk input {
  width: 100%;
  border: 1px solid #bfbfbf;
  border-radius: 2px;
  box-sizing: border-box;
  color: #444;
  font: inherit;
  margin: 0;
  min-height: 2em;
  padding: 3px;
  outline: none;
}

.smalltalk button:enabled:focus, .smalltalk input:enabled:focus {
  transition: border-color 200ms;
  border-color: rgb(77, 144, 254);
  outline: none;
}

.no-select {
  user-select: none;
  cursor: default;
}
body {
  position: relative;
  color: white;
  height: 100vh;
  background-color:#000;
  /* font-family: Arial, Helvetica, Helvetica Neue, serif; */
  overflow-y: hidden;
  
  -webkit-app-region: drag;
}
/* 
h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
} */

.drive-viewer {
  padding:0;
  margin:0;
  .modal-header {
    border:0;
  }
  .modal-content {
    border:0;
    background-color:#03111C;
  }
}

.list-group-item {
  padding:0;
  border-radius:0;
  background-color: #03111C;
  color:#FFF;
  display:block;
  height:100%;
  width:100%;
  &:hover {
    color:#FFF;
    background-color: lighten(#03111C,10);
  }
  &:first-child,&:last-child {
    border-radius:0;
  }

}
.list-group.route-list {
  border-radius:0;
  display:flex;
  width:100%;
  .LazyLoad {
    display:flex;
    flex:0 0 100%;
  }
  .list-group-item {
    height:70px;
    width:100%;
    display:block;
    display:flex;
    flex:0 0 100%;
    .thumbnail {
      flex: 0 0 25%;
      vertical-align:middle;
      padding:10px;
      border-bottom:1px solid rgba(#FFF,0.1);
      width:25%;
      img {
        height:50px;
      }
    }
    .details {
      padding:10px;
      flex: 0 0 75%;
      font-size:13px;
      border-bottom:1px solid rgba(#FFF,0.1);
      vertical-align:middle;
    }
  }
}

.card {
  background-color:rgba(#FFF,0.1)!important;
  margin-bottom:10px;
  padding:0!important;
  border:0!important;
  border-radius:0!important;
}
.card-header {
  border-radius:0!important;
  text-transform:capitalize;
  padding: 3px 10px;
  background-color:darken(#03111C,10);
  color:#444;
  font-size:12px;
  text-transform:uppercase;
}
.card-list-group {
  border:0!important;
  border-radius:0!important;
}
.card-list-group-item {
  border-radius:0!important;
  padding:3!important;
  margin-bottom:initial!important;
  border:0!important;
  background-color: darken(#03111C,3)!important;
  font-size:12px!important;
  position:relative;
  &:after {
    content:"";
    bottom:0;
    left:0;
    right:0;
    position:absolute;
    height:1px;
    width:100%;
    background-color:rgba(#FFF,0.05);
  }
}
.card-body {
  padding:0!important;
  background-color:darken(#03111C,5);
}
.nav {
  border-bottom:0!important;
}

.nav-tabs {
  .nav-link {
    background-color:#03111C;
    color:#FFF;
    border:0;
    border-radius:0;
    cursor:pointer;

    &.active {
      color:#FFF;
      background-color:lighten(#03111C,10);
      border:0;
      border-radius:0;
    }
    &:hover {
      border:0;
    }
  }
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color:#FFF;
  background-color:lighten(#03111C,10);
  border:0;
  border-radius:0;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  // border-color: #e9ecef #e9ecef #dee2e6;
  border:0;
}