/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~xterm/src/xterm.css";
@import "~react-json-pretty/src/JSONPretty.monikai.css";

$base-color: #24292e;
$light-color: lighten(#24292e,5);
$dark-color: darken(#24292e,5);
$darker-color: darken(#24292e,8);
$active-color: var(--blue);
$left-bar-width: 50px;
$left-bar-padding-top: 0;
$top-bar-height: 28px;
$child-list-width: 200px;
$eons-list-top-top: $top-bar-height;
$eons-list-top-height: 30px;
$eons-list-top: $top-bar-height + $eons-list-top-height;
$right-content-width: calc(100% - #{$left-bar-width});
body {
  background-color:#212121;
}
#foldout-container {
  z-index:10000;
  position:fixed!important;
}
.react-json-view {
  * {
    opacity:1!important;
  }
}

@import "styles/loading-overlay";
.app-wrapper {
  $darker_col: 6;
  padding-top:0;
  overflow:hidden;
  height:100%;
  width:100%;
  display:flex;
  flex-flow: wrap;
  position:fixed;
  background-color: #000;
  // background: radial-gradient(619.87px at 50% 6.62%, #072339 0%, #051B2C 100%)!important;
  @import "styles/windows-top-bar";
  @import "styles/top-bar";
  @import "styles/eon";
  @import "styles/eon-list";
  @import "styles/content";
  @import "styles/left-bar";
  @import "styles/tab-list";
  @import "styles/tab-content";
  @import "styles/state-list";
  @import "styles/command-bar";
  @import "styles/is-mac";
  
  .container-fluid {
    position: relative;
    width:100%;
    height:100%;
    text-align: center;
  }
  .xterm-viewport::-webkit-scrollbar {
    display: none;
  }


  .term_fit {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    > div {
      padding:0 0 0 15px;
      height:100%;
      width:100%;
    }
  }
  .term_fit::-webkit-scrollbar { 
    display: none; 
  }
  .tab-pane {
    position:relative;
    height:100%;
    width:100%;
    padding:0;
    .json-pretty {
      background-color:#000;
    }
    &.console-tab {
      padding:15px;
    }
  }
  .tab-pane::-webkit-scrollbar { 
    display: none; 
  }
  .terminal-container {
    padding:10px;
  }
  .terminal-container::-webkit-scrollbar { 
    display: none; 
  }
  
.console-tab {
  position:relative;
  height:100%;
}
.console-tab::-webkit-scrollbar { 
  display: none; 
}
.smalltalk {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  
  transition: 200ms opacity;
  
  bottom: 0;
  left: 0;
  overflow: auto;
  padding: 20px;
  position: fixed;
  right: 0;
  top: 0;
  
  z-index: 100;
}

.bottom-nav {
  position:absolute;
  bottom:0;
}

.title {
  line-height:$top-bar-height;
  color:rgba(#FFF,0.7);
  font-size:15px;
}

.header {
  display:flex;
  position:relative;
  width:100%;
  -webkit-app-region: drag;
}

.header .brand {
  flex: 0 0 50%;
  padding: 60px 0 19px 0;
  margin: 0 auto;
  transform:translateX(-6px);
  text-align: center;
}

.header .brand svg {
  transform: scale(1.4);
}

.header .eon_status {
  flex: 0 0 50%;
  text-align:right;
  padding:15px 15px 15px 15px;
}



.state-card {}

.nav_link {
  color:#FFF!important;
  opacity:0.5;
  cursor: pointer;
  &:hover {
    opacity:1;
  }
}

.add_field {
  border:0!important;
  text-align:left;
  // width:100%!important;
  margin:0;
  
  background:darken($base-color,5)!important;
  background:darken($base-color,5)!important;
  border-radius:0;
  text-align:center!important;
  box-shadow:none!important;
  display:block;
  height:100%;
  width:100%;
}

.add_ip_button {
  padding:0!important;
  margin:0;
  line-height: 30px;
  background-color:darken($base-color,2)!important;
  border:0!important;
  border-radius:0!important;
  text-align:center;
  display:block;
  color:lighten($base-color,10);
  height:100%;
  width:100%;
  border-left:1px solid lighten($base-color,1)!important;
}

.refresh_button {
  padding:0!important;
  margin:0;color:rgba(#FFF,0.4);
  line-height: 30px;
  background-color:rgba(#FFF,0.05)!important;
  border:0!important;
  text-align:center;
  border-radius:0!important;
  text-align:center;
  display:block;
  height:100%;
  width:100%;
}

.smalltalk + .smalltalk {
  transition: ease 1s;
  display: none;
}

.smalltalk .page {
  border-radius: 3px;
  background: white;
  box-shadow: 0 4px 23px 5px rgba(0, 0, 0, .2), 0 2px 6px rgba(0, 0, 0, .15);
  color: #333;
  min-width: 400px;
  padding: 0;
  position: relative;
  z-index: 0;
}

@media only screen and (max-width: 500px) {
  .smalltalk .page {
      min-width: 0;
  }
}

.smalltalk .page > .close-button {
  background-image: url(images/IDR_CLOSE_DIALOG.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 14px;
  position: absolute;
  right: 7px;
  top: 7px;
  width: 14px;
  z-index: 1;
}

.smalltalk .page > .close-button:hover {
  background-image: url(images/IDR_CLOSE_DIALOG_H.png);
}

.smalltalk .page header {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 500px;
  
  user-select: none;
  color: #333;
  font-size: 120%;
  font-weight: bold;
  margin: 0;
  padding: 14px 17px;
  text-shadow: white 0 1px 2px;
}

.smalltalk .page .content-area {
  overflow: hidden;
  text-overflow: ellipsis;
  
  padding: 6px 17px;
  position: relative;
}

.smalltalk .page .action-area {
  padding: 14px 17px;
}

button {
  font-family: Ubuntu, Arial, sans-serif;
}

.smalltalk button, .smalltalk .smalltalk {
  min-height: 2em;
  min-width: 4em;
}

.smalltalk button {
  appearance: none;
  user-select: none;
  background-image: linear-gradient(#ededed, #ededed 38%, #dedede);
  
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
  color: #444;
  font: inherit;
  margin: 0 1px 0 0;
  text-shadow: 0 1px 0 rgb(240, 240, 240);
}

.smalltalk button::-moz-focus-inner {
  border: 0;
}

.smalltalk button:enabled:active {
  background-image: linear-gradient(#e7e7e7, #e7e7e7 38%, #d7d7d7);
  box-shadow: none;
  text-shadow: none;
}

.smalltalk .page .button-strip {
  display: flex;
  
  flex-direction: row;
  justify-content: flex-end;
}

.smalltalk .page .button-strip > button {
  margin-left: 10px;
}

.smalltalk input {
  width: 100%;
  border: 1px solid #bfbfbf;
  border-radius: 2px;
  box-sizing: border-box;
  color: #444;
  font: inherit;
  margin: 0;
  min-height: 2em;
  outline: none;
}

.smalltalk button:enabled:focus, .smalltalk input:enabled:focus {
  transition: border-color 200ms;
  border-color: rgb(77, 144, 254);
  outline: none;
}

.no-select {
  user-select: none;
  cursor: default;
}

body {
  position: relative;
  color: white;
  height: 100vh;
  background-color:#212121;
  /* font-family: Arial, Helvetica, Helvetica Neue, serif; */
  overflow-y: hidden;
}

.drive-viewer {
  padding:0;
  margin:0;
  .modal-header {
    border:0;
  }
  .modal-content {
    border:0;
    background-color:#03111C;
  }
}

.list-group.route-list {
  border-radius:0;
  display:flex;
  width:100%;
  .LazyLoad {
    display:flex;
    flex:0 0 100%;
  }
  .list-group-item {
    height:70px;
    width:100%;
    display:block;
    display:flex;
    flex:0 0 100%;
    &:after {

    }
    .thumbnail {
      flex: 0 0 25%;
      vertical-align:middle;
      padding:10px;
      border-bottom:1px solid rgba(#FFF,0.1);
      width:25%;
      img {
        height:$left-bar-width;
      }
    }
    .details {
      padding:10px;
      flex: 0 0 75%;
      font-size:13px;
      border-bottom:1px solid rgba(#FFF,0.1);
      vertical-align:middle;
    }
  }
}

.card.state-card {
  // background-color:rgba(#FFF,0.1)!important;
  margin-bottom:10px;
  border:0!important;
  border-radius:0!important;
  background-color:rgba(#000,0);
  margin:10px;
  .state-textarea {
    background-color:rgba(#FFF,0.05);
    border-color:rgba(#FFF,0.1);
    color:rgba(#FFF,0.5);
    height:30px;
    font-size:11px;
  }
  .state-card-body {
    .progress {
      border-radius:0;
      background-color:rgba(0,0,0,0.2);
      height:25px;
      font-size:11px;
    }
    
    .state-list {
      display:table;
      width:100%;
      padding:0;
      margin:0;
    }
    .state-spinner {
      height: 100%;
      width: 100%;
      opacity:0.5;
    }
    .state-spinner img {
      width:100%;
      height:100%;
    }
    .state-loading-icon-wrap {
      width: 16px;
      height: 16px;
      position: relative;
      display: block;
    }

    .state-label,.state-status, .state-value {
      flex:0 0 50%;
      white-space:nowrap;
      // border-bottom: 1px solid #555;
      vertical-align: middle;
      width:50%;
      font-size:12px;
      padding:0 5px;
      line-height: 22px;
    }
    .state-item {
      display:flex;
    }
    .state-value {
      flex:0 0 70%;
    }
    .state-label {
      font-weight:200;
      text-align:right;
      // padding:0;
      color:#888;
      flex:0 0 30%;
      line-height:25px;
    }
    .state-status {
      /* color:#28a745; */

      flex:0 0 70%;
    }
    .state-status-started {
      color:#28a745;
    }
    .sub-sub-value {
      display:block;
    }
    .list-group {
      .list-group-item {
        border-radius:0;
        padding:3;
        margin-bottom:initial;
        border:0;
        background-color:rgba(#000,0.3);
        font-size:12px;
        position:relative;
        &:after {
          content:"";
          bottom:0;
          left:0;
          right:0;
          position:absolute;
          height:1px;
          width:100%;
          background-color:rgba(#000,0.4);
        }
      }
    }
  }
  
  &.dashboard {
    .state-card-body {
      .list-group {
        display:flex;
        flex-flow: row;
        justify-content: flex-start;
        background-color:rgba(#000,0.3);
       
        .list-group-item {
          border:0;
          // border-radius: 0 !important;
          // padding: 3px !important;
          // margin-bottom: initial !important;
          // border: 0 !important;
          // background-color: rgba(0, 0, 0, 0.0);
          // font-size: 12px !important;
          // position: relative;
          // height:150px;
          // width:150px;
          margin:10px;
          width:initial;
          padding:0;
          background:none;
          &:after {
            display:none;
          }
          &.dashboard-circle {
            $circle-height: 60px;
            $circle-width: 60px;
            .state-item {
              display:block;
              border:1px solid rgba(#FFF,0.4);
              border-radius:60px;
              width: $circle-width;
              height: $circle-height;
              position:relative;
              opacity:0.2;
              .state-value {
                top: 50%;
                left: 50%;
                transform:translate(-50%,-50%);
                position: absolute;
                font-size: 22px;
                text-align:center;
                font-weight: bold;
                display:none;
              }
              .state-label {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 13px;
                color: #FFF;
                text-transform: uppercase;
                font-weight: 300;
                text-align: center;
                padding: 0;
                display: block;
                white-space: initial;
                line-height: 1em;
                width: 100%;
              }
            }

            &.active {
              .state-item {
                background-color: #28a745;
                border-color:#28a745;
                opacity:1;
                .state-value {
                  
                }
                .state-label {
                  
                }
              }
            }
          }
          &.dashboard-bubble {
            $bubble-height: 60px;
            $bubble-width: 92px;
            .state-item {
              display:block;
              border:1px solid rgba(#FFF,0.4);
              border-radius:10px;
              width: $bubble-width;
              height: $bubble-height;
              position:relative;
             
              .state-value {
                top: 8px;
                position: absolute;
                font-size: 24px;
                left: 13px;
                font-weight: bold;
                
              }
              .state-label {
                position:absolute;
                bottom:4px;
                left: 13px;
                font-size:13px;
                color:#FFF;
                text-transform:uppercase;
                font-weight:300;
              }
              &:before {
                content:"";
                position:absolute;
                left:1px;
                top:1px;
                height:$bubble-height - 4px;
                width:8px;
                background-color:#FFF;
                border-top-left-radius:9px;
                border-bottom-left-radius:9px;
              }
            }
          }
        }
      }
    }
  }
  .card-header {
    border-radius:0!important;
    text-transform:capitalize;
    padding: 3px 10px;
    background-color:rgba(#000,0.4);
    color:#888;
    font-size:12px;
    text-transform:uppercase;
  }
  .card-list-group {
    border:0!important;
    border-radius:0!important;
  }

  .list-group-item {
    padding:3px 15px;
    border-radius:0;
    background-color: rgba(#000,0.1);
    color:#FFF;
    display:block;
    height:100%;
    width:100%;
    &:hover {
      color:#FFF;
      background-color:rgba(#000,0.1);
    }
    &:first-child,&:last-child {
      border-radius:0;
    }
  
  }
  
  .card-body {
    padding:0!important;
    background-color:rgba(#000,0);
  }
}

.messages-output {
  background-color:#121212;
  border:0;
  border-radius:0;
  padding:10px;
  height:300px!important;
  font-size:10px;
}
.message {
  border-radius:0;
  .card-body {
    padding:5px;
    border-radius:0;
  }
}

.nav {
  border-bottom:0!important;
}

.nav-tabs {
  .nav-link {
    background-color:darken(#03111C,2);
    color:rgba(#FFF,0.5);
    border:0;
    border-radius:0;
    cursor:pointer;

    &.active {
      color:#FFF;
      background-color:lighten(#03111C,10);
      border:0;
      border-radius:0;
    }
    &:hover {
      border:0;
    }
  }
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color:#FFF;
  background-color:lighten(#03111C,10);
  border:0;
  border-radius:0;
  width:100%;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  // border-color: #e9ecef #e9ecef #dee2e6;
  border:0;
}
.add_form_area {
  // background-color: rgba(255, 255, 255, 0.05) !important;
  color: #FFF;
}

.list_group_header {
  font-size:11px;
  text-transform:uppercase;
  margin-top:10px;
  line-height:20px;
  display:block;
  color:rgba(#FFF,0.5);
}
.react_ip_input {
  display: inline-block;
  border: 1px solid #c2c3c9;
  border-radius: 4px;
  padding: 5px 8px;
}
.form_help_text {
  color:rgba(#FFF,0.2);
  margin-top:5px;
  font-size:12px;
  text-align:center;
  flex:0 0 100%;
  margin-bottom:10px;
  border-top:1px solid rgba(#000,0.1);
  padding-top:10px;
}

.divider {
  text-align:center;
  padding:10px;
  color:#555;
}

.form {
}


.error_message,.scanning_message {
  padding:0!important;
  border-radius:0!important;
}
// .error_message_body,.scanning_message_body {
//   padding:5px 5px!important;
// }

.ssh_connection_title {
  text-align:center;
  display:block;
  font-size:14px;
}

.ssh_connection_subtext {
  text-align:center;
  display:block;
  font-size:12px;
}

.progress {
  display: -ms-flexbox;
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: .75rem;
  background-color: rgba(#FFF,0.2);
  border-radius: .25rem;
}
.scan_button {
  position:absolute;
  background-color:#000!important;
  top: 140px;
  right:16px;
  border:0!important;
  color:rgba(#FFF,0.3)!important;
  &:hover {
    color:rgba(#FFF,0.8)!important;

  }
}
.progress_overlay {
  margin-top:25px;
  
}

.scanned_no_results {
  
}
.manual_error {
  background-color:transparent!important;
}

.ssh_message {
  background-color:#dc3545;
  color:#FFF;
  padding:5px;
}

.eon_icon svg {
  object-fit: cover;
  height:100%!important;
}


.title {
  font-weight:400;
  text-align:center;
}
.subtext {
  font-weight:200;
  text-align:center;
}

.subsubtext {
  font-weight:200;
  text-align:center;
  font-weight:200;
  color:#555;
}


}

