.container {
  width:50%;
  margin:0 auto;
}


.title {
  /* font-size:18px;
  color:#FFF;*/
  font-weight:400;
  text-align:center;
}

.subtext {
  /* font-size:15px;
  color:#FFF;
  font-weight:200;*/
  font-weight:200;
  text-align:center;
}
.subsubtext {
  font-weight:200;
  text-align:center;
  font-weight:200;
  color:#555;
}