.container {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.react_ip_input {
  display: inline-block;
  border: 1px solid #c2c3c9;
  border-radius: 4px;
  padding: 5px 8px;
}
.form_help_text {
  color:#555;
  margin-top:5px;
  font-size:12px;
  text-align:center;
  flex:0 0 100%;
}
.react_ip_input .react_ip_input__item {
  display: inline-block;
}
.react_ip_input.has-error {
  border-color: #a94442;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.react_ip_input input {
  width: 30px;
  border: none;
  outline: none;
  text-align: center;
}

.divider {
  text-align:center;
  padding:10px;
  color:#555;
}

.add_field {
  border:0!important;
  text-align:left;
  width:160px!important;
  margin:0 auto;
}

.ssh_connection_title {
  text-align:center;
  display:block;
  font-size:14px;
}

.ssh_connection_subtext {
  text-align:center;
  display:block;
  font-size:12px;
}

.progress {
  display: -ms-flexbox;
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: .75rem;
  background-color: rgba(#FFF,0.2);
  border-radius: .25rem;
}
.scan_button {
  position:absolute;
  background-color:#000!important;
  top: 140px;
  right:16px;
  border:0!important;
  color:rgba(#FFF,0.3)!important;
  &:hover {
    color:rgba(#FFF,0.8)!important;

  }
}
.progress_overlay {
  margin-top:25px;
  
}
.loading_overlay {
  position:relative;
  // top:50%;
  // left:50%;
  height:85px;
  width:85px;
  margin:25px auto 0 auto;
  // transform:translate(-50%,-50%);
  // margin-top:100px;
  /* width:100%;
  height:100%; */
  -webkit-app-region: drag;
}
.loader_wrap {
  position:absolute;
  width:100%;
  background-color:rgba(#000,0.5);
  top:0;
  left:0;
  height:100%;
  z-index:5;
  padding:200px 50px;
}
.scanned_no_results {
  
}
.manual_error {
  background-color:transparent!important;
}
.results_details {
  display: block;
  margin-left:70px;
  text-align:left;
  padding-left:10px;
}
.new_scan_button {
  span {
    text-align:center;
    width:100%;
    display:block;
    margin:0;
    padding:0;
  }
}
.eon_icon {
  width:70px;
  display:block;
  position:absolute;
  left:15px;
  top:50%;
  opacity: 0.6;
  transform:translateY(-50%);
  padding-right:15px;
  border-right:1px solid rgba(#000,0.5);
}

.results_button_selected {
  position:absolute;
  right:15px;
  top:50%;
  transform: translateY(-50%);
}

.ssh_message {
  background-color:#dc3545;
  color:#FFF;
  padding:5px;
}

.eon_icon svg {
  object-fit: cover;
  height:100%!important;
}


.results {
  width:100%;
  margin-top:10px;
}

.results_button {
  display:block;
  border-radius:0!important;
  background-color:rgba(#FFF,0.05)!important;
  &:hover {
    background-color:rgba(#FFF,0.1)!important;
  }
}

/* .results_button:hover .eon_icon {
  opacity: 0.5;
} */
.form {
  display:flex;
  flex-flow:wrap;
}
.results_button_ip {
  display:block;
  color:#F7F7F7;
}

.results_button_mac {
  display:block;
  color:#888;
  font-weight:400;
  font-size:12px;
}

.title {
  font-weight:400;
  text-align:center;
}
.subtext {
  font-weight:200;
  text-align:center;
}

.subsubtext {
  font-weight:200;
  text-align:center;
  font-weight:200;
  color:#555;
}