@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.spinner {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  margin:25px auto;
}
.circle {
  width: 75px;
  height: 75px;
  position: relative;
  z-index: 10001;
  display: block;
  margin: 0 auto;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  animation: spinner 0.8s infinite linear;
}