.container {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

.title {
  /* font-size:18px;
  color:#FFF;*/
  font-weight:400;
  text-align:center;
}

.results {
  width:100%;
}
.results_button {
  display:block;
}
.results_button_line {
  display:block;
}
.subtext {
  /* font-size:15px;
  color:#FFF;
  font-weight:200;*/
  font-weight:200;
  text-align:center;
}
.subsubtext {
  font-weight:200;
  text-align:center;
  font-weight:200;
  color:#555;
}